<h2>Create Widget</h2>
<form method="get">
    <div class="error">
        {{ form_error }}
    </div>
    <div class="form-control">
    <label for="widgetUrl">Url</label>
    <input type="text" id="widgetUrl" name="url" class="textInput" required />
    </div>
    <div class="form-control">
        <label for="widgetName">Widget Name</label>
        <input type="text" id="widgetName" name="title"  class="textInput"  required />
    </div>
    
    <div class="form-control">
        <input type="submit" />
    </div>
</form>