<!DOCTYPE html>
<html>
    <head>
        <title>Sample Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>One Room
        </header>
        <section id="chatBox">
            <div>
                <ul id="chatBoxList">
                    <li>
                        <p>
                            This is a sample demo page
                        </p>
                        <p>
                            
                        </p>
                        <p>
                        </p>
                    </li>

                </ul>
            </div>
        </section>
        
    </body>
</html>
