<!DOCTYPE html>
<html>
    <head>
        <title>OneRoom Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/chatroom.css" />
    </head>
    <body>
        <header>One Room
        </header>
        <section id="chatBox">
        <div>
            <ul id="chatBoxList">
                <li>
                    <p>
                Welcome to OneRoom. 
                A hopefully ridiculously simple and easy to build chatroom on Google App Engine.
                </p>
                <p>
                Please log-in to continue
                                </p>
                <p>

                          <a href="{{ googleLoginUrl }}">G+ Login</a>
                          </p>
                </li>
                
            </ul>
        </div>
        </section>
    </body>
</html>
