<!DOCTYPE html>
<html>
    
    <head>
        <title>OneRoom Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/chatroom.css" />
    </head>
    <body>
        <header>OneRoom
            <span id="totalClients">{{ totalClients }} Users</span>
            <span>|</span> 
            <span><a href="{{ logoutUrl }}">Logout</a></span>
        </header>
        <section id="chatBox">
            <ul id="chatBoxList">
                <li>
                Welcome to OneRoom. 
                A hopefully ridiculously simple and easy to build chatroom on Google App Engine.
                <br />
                </li>
            </ul>
        </section>
        <footer id="message">
            <textarea id="textMessage" name="message" placeholder="Type message here and press Enter to send" rows="1"></textarea>
        </footer>
        <!--:demos.9lessons.info/notify -->
        <audio id="audioStreams">
            <source src="/assets/audio/msg.ogg" type="audio/ogg">
            <source src="/assets/audio/msg.mp3" type="audio/mpeg">
            <source src="/assets/audio/msg.wav" type="audio/wav">
        </audio>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <script src="/assets/js/jquery-1.10.2.min.js"></script>
        <script src="/assets/js/jquery-ext.js"></script>
        <script src="/assets/js/chatroom.js"></script>
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
        <script  type="text/javascript">
            var channelToken = '{{ token }}'; //this is the channel token
            var channelId = '{{ channel_id }}';
            var clientSeq = '{{ clientSeq }}';
//        var myNickName = '{{ nickName }}';
            var myNickName = 'Me';
            
            var siteIdentifier=123456;
            
            $().ready(function() {
                    connectChannel();
            });
        </script>

    </body>
</html>
