<!DOCTYPE html>
<html>
    <head>
        <title>OneRoom Chat</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/app.css" />

    </head>
    <body>
        <h1>One-Room Chat Service</h1>
        One Thing: Create a Chat Room for your site using Google App Engine.
        <br />
        <br />
        <a href="/demo" target="_blank">Take this for a spin</a>
    </body>
</html>


    </body>
</html>
